%h1 Ethernet Based AVR Satalites!

%p
  So an RPi costs $35, but an avr chip is more like $10.  
  So if you just need a little data sensor somewhere, 
  you can save $25 each installation by wiring some AVR chips and connecting them via ethernet!
  

%h4 What AVR chip to Buy?
%p
  You need an ENC28J60 baord.  That thing will 
  


%h6 Ref:
%ul
  %li=link_to "Ethernet + AVR", "http://tuxgraphics.org/electronics/200606/article06061.shtml"
  %li=link_to "An ethernet Chip", "http://www.ebay.com/itm/like/261427746325?lpid=82&chn=ps"
  
  
