%ul
  %li=link_to "Picture", "http://www.buildeazy.com/automatic-chicken-door.gif"
  %li=link_to "Door that burnt", "https://sites.google.com/site/chrisatronics/solar-powered-automated-chicken-coop-door-with-msp430"
    


