%h1 Electronics Lab Essentials
%p
  A full lab is very expensive.
  You probably can't just buy everything indicated on this page, unless you're filthy rich.
  What you should do is decide what kind of an electronics hacker you're going to be, and buy equipment that you'll use often.

%div.authors-notes
  %p
    A good lab equipment manifest helpful to others should be
  %ul
    %li Modular (broken down into easily readable parts)
    %li Use a bulletted list format for quick reading
    %li Show rounded prices
    %li Show links to gain more information, either purchasing links or info pages

  %p
    Thus this page.  :)
    Idealy this page would be converted into an online, cloud based, inventory management program that allows users to track where they buy from,
    who has better prices/ quality, and what they have in stock (or in the mail).


%h4 Organization (required)
%p
  If you're going to work on electronics, you need a warm workbench that you can leave projects on, lots of organizers, and some storage space.

%ul
  %li.required=link_to "label Maker (seriously, required)", "http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=+label+maker&rh=i%3Aaps%2Ck%3A+label+maker"
  %li=link_to "Big tubs", "https://www.ebay.com/sch/i.html?_from=R40&_trksid=p2380057.m570.l1313.TR12.TRC2.A0.H0.XSEARCH.TRS0&_nkw=ziploc%20storage%20box&_sacat=0"
  %ul{style: "list-style-type: none;"}
    %li Use these tubs to put *Everything* in.  Everything should be encapsulated in smaller stackable organizers.
  %li Project Holders
  %ul{style: "list-style-type: none;"}
    %li
      These are anything that is big enough to hold bread board, power adapters, etc and can be sealed.
      There's a Chinese fast food restauraunt near me that serves food in a perfect container for me.
      Label these something meaningful, and consider dropping in an index card note that explains where you left off or what it does.
  %li Mini Baggies
  %li=link_to "Resistor/ flat component folder", "https://www.ebay.com/itm/2-3-Ring-Pokemon-Cards-Collection-Binder-Kids-Game-Holder-Storage-Folder-Album/222736560717?epid=1176962286&hash=item33dc22324d:g:kswAAOSw9hdaHfVj"


%h4 Rapid Development (required)
%ul
  %li.required=link_to "$4 Bread Board", "http://www.amazon.com/gp/product/B0040Z1ERO/ref=oh_aui_detailpage_o07_s00?ie=UTF8&psc=1"
  %li.required=link_to "Aligator Clips clip to jumper wire, pins, loose wire, probes, etc!", "https://www.adafruit.com/products/321"
  %li.required=link_to "Power Adapter to alligator clips", "https://www.adafruit.com/products/1328"


%h4 Electronics Supplies (required)
%ul
  %li=link_to "Resistor/ LED Folder $10", "https://www.ebay.com/itm/375-Piece-Assortment-of-3MM-and-5MM-LED-Light-emitting-Diodes/132264427534?hash=item1ecb93000e:g:W7sAAOSwF1tZbM84"
  %li=link_to "Capacitor Assortments $12", "https://www.ebay.com/itm/15-kinds-value-200-pcs-Electrolytic-Capacitor-Assortment-Box-Kit-for-Arduino-DIY/321726739601?hash=item4ae8687491:g:luMAAOSwBahVLu1t"
  %li.required=link_to "Transistor Assortments $9 (At least general purpose PNP and NPN transistors)", "https://www.ebay.com/itm/200-Pcs-Transistor-kit-BC337-BC327-2N2222-2N2907-2N3904-2N3906-S8050-S8550-A1015/391957481418?ssPageName=STRK%3AMEBIDX%3AIT&_trksid=p2057872.m2749.l2649"


%h4 Project Mounting and Enclosure
%ul
  %li Small rubbermaid containers that they sell meat in these days
  %li=link_to "$30 Metal M2, M3, M4 screw assortment pack (for mounting boards on varius surfaces)", "https://www.ebay.com/itm/1080-Pcs-M2-M3-M4-Hex-Socket-Head-Cap-Screws-Assortment-Set-Kit-With-Storage-Box/173099117274?epid=2174275192&hash=item284d82eada:g:o2gAAOSwicpaW-P8"
  %li=link_to "$5 Metal M3 screw that are HUGE (for mounting on very thick wood boards)", "http://www.amazon.com/gp/product/B00F33U5S6/ref=oh_aui_detailpage_o05_s00?ie=UTF8&psc=1"
  %li=link_to "$5 Metal M3 nuts", "http://www.amazon.com/gp/product/B009EFKIJ0/ref=oh_aui_detailpage_o05_s00?ie=UTF8&psc=1"
  %li Metal Offsets
  %li=link_to "$13 Plastic M3 Offsets (for mounting tiny stuff onto tin or some metal)", "http://www.amazon.com/Spacers-Stand-off-Plastic-Accessories-Assortment/dp/B00LGB2N1Q/ref=sr_1_fkmr2_2?ie=UTF8&qid=1426357900&sr=8-2-fkmr2&keywords=m3+offset+plastic"
  %li=link_to "$5 Plastic M3 nuts", "http://www.amazon.com/Nylon-Screw-Nuts-Pack-100/dp/B00NW885NG/ref=sr_1_5?ie=UTF8&qid=1426358048&sr=8-5&keywords=m3+nut+nylon"


%h4 Terminators
%ul
  %li=link_to "Good page describing small connectors", "http://www.rcgroups.com/forums/showthread.php?t=1493712"
  %li=link_to "electrical Tape (used for wrapping up wires or taping the backs of circut boards, etc)", ""
  %li=link_to "Heat Shrink (useful for joining wires, cabling the ends together, joints)", ""
  %li
    =link_to "Tutorial: Microconnector crimping (RC/ Lipo)", "https://www.youtube.com/watch?v=Ta55NTSBLN0"
    %ul
      %li
        =link_to "$40 Crimper", "http://www.amazon.com/Engineer-PA-09-Micro-Connector-Crimpers/dp/B002AVVO7K/ref=sr_1_sc_1?ie=UTF8&qid=1426294331&sr=8-1-spell&keywords=microconnector+crimp"
      %li
        =link_to "$18 JST Housing kit", "http://www.amazon.com/DFRobot-FIT0255-JST-connector-2-54mm/dp/B00BMGHXOW/ref=pd_sim_hi_2?ie=UTF8&refRID=1EG22RE6V163MN4D8K27"
      %li
        =link_to "$5 Jumper Wire Connector Female", "http://www.amazon.com/Sunkee-Dupont-Jumper-Female-Connector/dp/B00CGWVFWW/ref=pd_sim_hi_6?ie=UTF8&refRID=1EG22RE6V163MN4D8K27"
      %li
        =link_to "$5 Jumper Wire Connector Male", "http://www.amazon.com/WYPH-Dupont-Male-Connector-Terminal/dp/B00R2SZQB6/ref=sr_1_3?s=electronics&ie=UTF8&qid=1426294994&sr=1-3&keywords=dupont+jumper+wire+male+pin"
      %li
        =link_to "$5 Jumper Wire Housing 2p", "http://www.amazon.com/Happy-Store-2-54mm-Connector-Housing/dp/B00CO86Z6Y/ref=pd_sim_e_4?ie=UTF8&refRID=0SEGY17GD7Y34GR6NJXX"
      %li
        =link_to "$5 Jumper Wire Housing 5p", "http://www.amazon.com/WYPH-5P-Dupont-Housing-Connector/dp/B00R2T0DJ0/ref=sr_1_13?s=electronics&ie=UTF8&qid=1426295098&sr=1-13&keywords=dupont+jumper+wire+housing"

  %li=link_to "coaxial", ""
  %li=link_to "RJ45", ""
  %li
    =link_to "Power", ""
    %ul
      %li Banana posts
      %li Banana plugs
      %li Proper Gauge Wire


%h4 Tools
%p
  I put tools at the bottom because they cost serious money, and you probably won't find them very handy.
  Don't get me wrong, having an unused oscilloscope sitting on your desk next to you does in fact make you smarter by proximity,
  but it's not 'essential' to have.
  When you're starting out in electronics, you won't need to do analysis or research, you'll mostly just be plugging things in and making things go
  or conducting research online using a computer.


%h6 Manditory
%ul
  %li=link_to "rasor blades (for wire stripping)", ""
  %li=link_to "'Fresh' Wire Cutters", ""
  %li=link_to "multi-testor", ""


%h6 Soldering Equipment
%ul
  %li Iron
  %li Solder w/ flux


%h6 SMT Soldering
%ul
  %li=link_to "Lab Walkthrough!", "http://thecustomgeek.com/2012/06/14/smd-soldering-you-can-do-it/"
  %li=link_to "Guy makes circuit board", "https://www.youtube.com/watch?v=uIwN8qCzFwk"


%h6 Safety
%ul
  %li $300 Fume hood (required imo if you like to solder or have a 3D printer)


%h6 Chip Flashing and data hacking($)
%ul
  %li
    Jtag thingy?
  %li
    MicroController Flasher


%h6 Benchtop Analysis, Testing and Research Equipment ($$$)
%ul
  %li
    Signal Analyzer
  %li
    Oscilloscope
  %li
    Spectrum Analyzer


%h6 Fabrication
%ul
  %li 3D printer and supplies
