%h1 fine_positioning

%p
  To be a proper engineer, you need the ability to finely position a thing along a linear track.  With magnets.  

=link_to "MagLev w/ Arduino", "http://makezine.com/2013/06/17/arduino-controlled-lego-maglev-vehicle/"
