%h1 Control Switch
%p This is a lovely app for getting info and controlling a cool system.

%div.controls
  -#=button_to "your link", '#', :onclick => "btnShutdown()"
  =button_tag "shutdown", :type => "button", :onclick => "btnShutdown()"
  =button_tag "Snap Photo", :type => "button", :onclick => "btnSnapPhoto()"

.console
  .span1.prompt &gt;
  .line
    Ready...

.video_screen
  %img#camera

