%h1 Hovering RPi Robot

%p
  Ideally the 'drone' would look a bit more like the enterprize, but I guess the prototype can (and will) look like hovering garbage...
  
%p
  =link_to= "Guy who did it", "https://code.google.com/p/owenquad/"
  
  
  
