%h1 IfraRed Signal Capturing

%p
  Would be nice to be able to analyze logic signals with the pi.  

%h6 Tuts
%ul
  %li
    =link_to "Ozzmaker tut", "http://ozzmaker.com/2013/10/24/how-to-control-the-gpio-on-a-raspberry-pi-with-an-ir-remote/"



