%h1 Laser Dungeon

%p
  This is an activitie where a VIP (uncle) leads one or more young engineers through a course filled with 'pixlenaughts'.  

%p
  Pixlenaughts are created by connecting an LED, speaker, and photo-receptor/sensor together.  A Pixlenaught can make sounds, light lights, and register infrared photo data from young engineer's equpment.  
    
%p 
  Some pixlenaughts are very bad, will make a noise and then cause damage to the VIP unless they are incapacitated by the young engineer's EMP ray-gun.  

%p
  Other pixlenaughts are very friendly, and need to be given very important photonic energy.  To give energy to a pixlenaught, a young engineer points his photonic sprinkler wand at the friendle pixlenaught until the pixlenaught becomes quite pleased and turns off it's green LED and ends chirping.  



%h4 Detailed Construction
%p
  Maybe pixelnaughts should be wired via Cat 5e cable, each cable can supply for 1 pixelnaught, and the cables lead back to a raspberry pi which controls the logic of the pixlenaught.  




%h4 Refs:
%ul
  %li= link_to "arduino build", "https://grahamedgecombe.com/projects/lasertag"


