%h1 Controlling Motors with your RPi

%ul
  %li=link_to "Adafruit Tut", "https://learn.adafruit.com/downloads/pdf/adafruit-raspberry-pi-lesson-9-controlling-a-dc-motor.pdf"
  %li=link_to "Another motor tut", "http://computers.tutsplus.com/tutorials/controlling-dc-motors-using-python-with-a-raspberry-pi--cms-20051"

  
  
