%h1 Radio Frequencies and the Pi

%h6 Resources
%ul
  %li=link_to "Transmit over FM with no extra hardware!!!", "http://www.icrobotics.co.uk/wiki/index.php/Turning_the_Raspberry_Pi_Into_an_FM_Transmitter"
  %li=link_to "Spectrum Analyzer?", "https://learn.adafruit.com/freq-show-raspberry-pi-rtl-sdr-scanner/overview"
