%h1 Installing Prerequisits
  



%h6 General Stuff
%pre
  =preserve do
    :escaped
      $ sudo apt-get install i2c-tools

%h6 Installing RVM

%p
  Before you can install this web app, you need to get a good ruby development environment up and running.
  At first glance it seems that raspbian ships with a version of ruby in the package repository that doesn't have any gems,
  or any way to install gems... that's like... not a very effective ruby install.  
  So delete it and get rvm online.  
  
(ref: http://computers.tutsplus.com/tutorials/how-to-install-ruby-on-rails-on-raspberry-pi--cms-21421)
%pre
  =preserve do
    :escaped
      $ sudo apt-get remove ruby
      $ sudo apt-get update
      $ curl -L get.rvm.io | bash -s stable --rails



%h6 Installing python stuff
%p
  Looks like some python stuff is needed

%pre
  =preserve do
    :escaped  
      $ sudo apt-get update
      $ sudo apt-get install python-dev python-rpi.gpio python-smbus





