%h1 How to get a screen for outdoor viewing


%h6 References
%ul
  %li
    =link_to "$20 Nook as a screen", "https://pihw.wordpress.com/guides/guide-to-using-the-nook-simple-touch-as-a-remote-eink-raspberry-pi-screen/"
    =link_to "$200 RGB/ b/w outdoor fallback", "Qpixel"
    
