
%p This page is a secret!  I want to be the one to release this open source project, lololol my egooooOO!!!!!!!!

%p For this page to work, you need to have the ruby-pi-tc gem installed... :)

%p= @about

