%h1 Variable Madlibs Buckets

%h4 Spec:
%ul
  %li Ages: 4-7
  %li Adults: 1-2
  %li Kids: 1-9


%h4 Goals
%p
  The objective of this activitie is to get kids to comprehend the idea of variables.  It also teaches the concept of buckets which is useful in many analogies.


%h4 Procedure
%p
  Get some madlibs scripts, and play a few games of regular madlibs, just so everyone gets that concept.  
%p
  Bring together a big pile of 'silly' things.  The kids are instructed to put a silly thing into each bucket.  Silly things can be printed out on the fly with a printer and someone with a laptop and a connection to an image search engine.  An adult writes on the pages.  If that takes too long, words can quickly be written down and put in the bucket.  Perhaps a sketch can be done by a visual person.  

%p
  When all the buckets are populated, an adult reads the madlibs off while another adult pulls out the items from the buckets assisting for flow of reading.  

%p
  Use hungarian variable naming, nnFirst (noun first), vFirst (verb first), etc.  




