%h1 Setting Up Wireless

%p
  Wireless is a little more complicated to use than wired ethernet,
  mostly because Raspberry Pi doesn't come with a wireless NIC onboard.
  So for starters, you need to get a wireless USB adaptor, 
  and make sure you buy one that is linux compatible.
  For reference I have an Asus made wireless adaptor(USB-N13).  
  I'm happy with it other than the fact that wireless is a pain to setup
  due to the team at Debian.org only spending x minutes of time per online doc page...

%p
  Before I get to the procedure, I'd like to point out that Raspbian ships with,
  not one, but two methods of managing your network connection.
  One might think this would double your networking pleasure, 
  but no... it doesn't...
  The two methods are
  %strong Network Manager
  and
  

