// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.console {
  height: 30px;
  background-color: black;
  color: white;
}

.line {
}
